body{
  width: 970px;
  display: inline-block;
}
#left #right{
  width: 450px;
  height: auto;
  display: inline-block;
}
form{
  width: 450px;
  display: inline-block;
}
.info{
  width: 450px;
  margin: 5px;
}
#back{
  display: none;
  text-align: center;
}
#card{
  border: 2px solid black;
  width: 200px;
  height: 100px;
  margin: 15px;
  text-align: center;
}
h4{
  width: 200px;
}
